 <h3>スケジュール新規作成</h3>

 <%= form_for @post do |p| %>
	<table>
	   <tr>
		 <th><%= p.label :title ,"タイトル" %></th>
		 <td><%= p.text_field :title %></td>
	   </tr>
	   <tr>
		 <th><%= p.label :startdate ,"開始日" %></th>
		 <td><%= p.date_field :startdate %></td>
	   </tr>
	   <tr>
		 <th><%= p.label :enddate ,"終了日" %></th>
		 <td><%= p.date_field :enddate %></td>
	   </tr>
	   <tr>
		 <th><%= p.label :alldayflg ,"終日" %></th>
		 <td>
		  <%= p.check_box :alldayflg %>
		  <p>終日の場合はチェックを入れます</p>
		 </td>
	   </tr>
	   <tr>
		 <th><%= p.label :memo ,"スケジュールメモ" %></th>
		 <td><%= p.text_area :memo %></td>
	   </tr>
   </table>
   
   <div>
	 <ul>
	   <li><%= p.submit "スケジュールを新規登録する"%></li>
	   <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
	 </ul>
   </div>
<% end %>